.ipynb_checkpoints/
.DS_Store
data/
__pycache__/
test/
.conda/
Autofeeder/docs/additional_libraries/The Most Complete Starter Kit for MEGA V1.0.2021.05.13.pdf
Autofeeder/docs/additional_libraries/code/Lesson 10 Ultrasonic Sensor Module/HC-SR04.zip
Autofeeder/docs/additional_libraries/code/Lesson 10 Ultrasonic Sensor Module/SR04_Example/SR04_Example.ino
Autofeeder/docs/additional_libraries/code/Lesson 11 Membrane Switch Module/Keypad.zip
Autofeeder/docs/additional_libraries/code/Lesson 11 Membrane Switch Module/custom_keypad/custom_keypad.ino
Autofeeder/docs/additional_libraries/code/Lesson 12 DHT11 Temperature and Humidity Sensor/DHT.zip
Autofeeder/docs/additional_libraries/code/Lesson 12 DHT11 Temperature and Humidity Sensor/DHT11_Example/DHT11_Example.ino
Autofeeder/docs/additional_libraries/code/Lesson 13 Analog Joystick Module/Analog_Joystick/Analog_Joystick.ino
Autofeeder/docs/additional_libraries/code/Lesson 14 IR Receiver Module/IRremote.zip
Autofeeder/docs/additional_libraries/code/Lesson 14 IR Receiver Module/IR_Receiver_Module/IR_Receiver_Module.ino
Autofeeder/docs/additional_libraries/code/Lesson 15 MAX7219 LED Dot Matrix Module/LedControl.zip
Autofeeder/docs/additional_libraries/code/Lesson 15 MAX7219 LED Dot Matrix Module/MAX7219/MAX7219.ino
Autofeeder/docs/additional_libraries/code/Lesson 16 GY-521 Module/MPU6050.zip
Autofeeder/docs/additional_libraries/code/Lesson 16 GY-521 Module/MPU-6050/MPU-6050.ino
Autofeeder/docs/additional_libraries/code/Lesson 16 QMI-8658 Module/QMI8658C-arduino/QMI8658C-arduino.ino
Autofeeder/docs/additional_libraries/code/Lesson 17 HC-SR501 PIR Sensor/HC-SR501/HC-SR501.ino
Autofeeder/docs/additional_libraries/code/Lesson 18 Water Level Detection Sensor Module/Water_level/Water_level.ino
Autofeeder/docs/additional_libraries/code/Lesson 19 Real Time Clock Module/DS1307.zip
Autofeeder/docs/additional_libraries/code/Lesson 19 Real Time Clock Module/DS3231.zip
Autofeeder/docs/additional_libraries/code/Lesson 19 Real Time Clock Module/DS1307_Example/DS1307_Example.ino
Autofeeder/docs/additional_libraries/code/Lesson 19 Real Time Clock Module/DS3231_Example/DS3231_Example.ino
Autofeeder/docs/additional_libraries/code/Lesson 20 Sound Sensor Module/analog_signal_output/analog_signal_output.ino
Autofeeder/docs/additional_libraries/code/Lesson 20 Sound Sensor Module/digital_signal_output/digital_signal_output.ino
Autofeeder/docs/additional_libraries/code/Lesson 20 Sound Sensor Module/Sound_Sensor_Example/Sound_Sensor_Example.ino
Autofeeder/docs/additional_libraries/code/Lesson 21 RC522 RFID Module/rfid.zip
Autofeeder/docs/additional_libraries/code/Lesson 21 RC522 RFID Module/MF-RC522_RFID/MF-RC522_RFID.ino
Autofeeder/docs/additional_libraries/code/Lesson 22 LCD Display/LiquidCrystal.zip
Autofeeder/docs/additional_libraries/code/Lesson 22 LCD Display/HelloWorld/HelloWorld.ino
Autofeeder/docs/additional_libraries/code/Lesson 23 Thermometer/LiquidCrystal.zip
Autofeeder/docs/additional_libraries/code/Lesson 23 Thermometer/Thermometer/Thermometer.ino
Autofeeder/docs/additional_libraries/code/Lesson 24 Eight LED with 74HC595/Eight_LED_with_74HC595_Flash_LED/Eight_LED_with_74HC595_Flash_LED.ino
Autofeeder/docs/additional_libraries/code/Lesson 25 The Serial Monitor/The_Serial_Monitor/The_Serial_Monitor.ino
Autofeeder/docs/additional_libraries/code/Lesson 26 Photocell/Photocell/Photocell.ino
Autofeeder/docs/additional_libraries/code/Lesson 27 74HC595 And Segment Display/_75hc/_75hc.ino
Autofeeder/docs/additional_libraries/code/Lesson 28 Four Digital Seven Segment Display/Four_Digital/Four_Digital.ino
Autofeeder/docs/additional_libraries/code/Lesson 29 DC Motors/DC_Motor/DC_Motor.ino
Autofeeder/docs/additional_libraries/code/Lesson 30 Relay/Relay/Relay.ino
Autofeeder/docs/additional_libraries/code/Lesson 31 Stepper Motor/Stepper.zip
Autofeeder/docs/additional_libraries/code/Lesson 31 Stepper Motor/stepper_Example/stepper_Example.ino
Autofeeder/docs/additional_libraries/code/Lesson 32 Controlling Stepper Motor With Remote/IRremote.zip
Autofeeder/docs/additional_libraries/code/Lesson 32 Controlling Stepper Motor With Remote/Stepper.zip
Autofeeder/docs/additional_libraries/code/Lesson 32 Controlling Stepper Motor With Remote/With_Remote/With_Remote.ino
Autofeeder/docs/additional_libraries/code/Lesson 33 Controlling Stepper Motor With Rotary Encoder/Stepper.zip
Autofeeder/docs/additional_libraries/code/Lesson 33 Controlling Stepper Motor With Rotary Encoder/With_Encoder/With_Encoder.ino
Autofeeder/docs/additional_libraries/code/Lesson 4 RGB LED/RGB_LED/RGB_LED.ino
Autofeeder/docs/additional_libraries/code/Lesson 5 Digital Inputs/Digital_Inputs/Digital_Inputs.ino
Autofeeder/docs/additional_libraries/code/Lesson 6 Making Sounds/active/active.ino
Autofeeder/docs/additional_libraries/code/Lesson 7 Passive Buzzer/pitches.zip
Autofeeder/docs/additional_libraries/code/Lesson 7 Passive Buzzer/passive_buzzer/passive_buzzer.ino
Autofeeder/docs/additional_libraries/code/Lesson 8 Ball Switch/Ball_Switch/Ball_Switch.ino
Autofeeder/docs/additional_libraries/code/Lesson 9 Servo/Servo.zip
Autofeeder/docs/additional_libraries/code/Lesson 9 Servo/servo
