numpy
scipy
opencv-python # only for running led times otherwise not needed
imageio
jupyterlab
#ipykernel
ipython
matplotlib
pandas
openpyxl
pyyaml
tqdm
xlsxwriter
seaborn
dabest # for statistical analysis
statsmodels # needed for dabest